.carousel-item img {
  height: 60vh; /* 60% of viewport height */
  object-fit: cover;
  width: 100%;
}

/* Make carousel arrows black using filter */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0) sepia(1) saturate(1000%) hue-rotate(0deg) brightness(0);
}

.carousel-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white;*/
  color: white;
  text-align: left;
  z-index: 10;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#carousel-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  z-index: 5;
}
